/node_modules
/public/hot
/public/storage
/public/assets
/public/uploads
/public/backup
/storage/*.key
/storage/debugbar/
/storage/data
/vendor/*
/.idea
.env
.env.backup
.phpunit.result.cache

live_dump.sql
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laradock
